<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="base.css">
  </head>
  <body>
    <header class="full-row">
      <div class="full-column">
        <a href=".">
          <h1>Jesse B. Miller</h1>
          <h2>radical incrementalist</h2>
        </a>
      </div>
    </header>

    {{ __content__ }}

    <footer></footer>
  </body>
</html>
