<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <h1>Jesse B. Miller</h1>
      <h2>radical incrementalist</h2>
    </header>
    {{ content }}
  </body>
</html>
